---
layout: default
title: Blog Archive
banner:
    heading: Exploring Sumbawa.
    description: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breathe.
    image:
        image_path: /uploads/travel/travel-2.jpg
    button: 
        text: Read more
        url: "/posts/2023/exploring-sumbawa"
---
<!------------------------ Hero Banner ------------------->

{% include hero-banner.html %}


<!------------------------ Split blog loop (part 1) ------------------------>
<section class="p-5p archive">

    <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
        <h2 class="font-serif text-4xl mb-2"> Recently on the blog </h2>
    </div>

    <div class="max-w-screen-xl mx-auto grid lg:grid-cols-3 gap-4">

        {% for post in site.posts limit:9 %}

            {% include post-loop-list-item.html %}

        {% endfor %}

    </div>

</section>
