---
layout: default
title: Homepage
banner:
    heading: A whole <br> new world.
    description: Surfing teaches you to appreciate the <br> finer things in life, to be present, live <br> in the moment and just breathe.
    image: 
        image_path: /uploads/magazine/blog-bg-12.jpg
        alt_text: A fascinating world
text_blurbs:
    heading: A fascinating <br> heading about <br> the site.
    description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit distinctio doloribus eum ipsam animi repellat, similique nemo tempora repellendus, asperiores quidem fugiat blanditiis commodi incidunt dicta aspernatur. Tempora, commodi totam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit distinctio doloribus eum ipsam animi repellat, similique nemo tempora repellendus, asperiores quidem fugiat blanditiis commodi incidunt dicta aspernatur. Tempora, commodi totam?
    button: 
        text: Read more
        url: "x"
    image: 
        image_path: /uploads/magazine/blog-bg-13.jpg
        alt_text: A fascinating world
itinerary:
    heading: Upcoming Travel Destinations
    image:
        image_path: /uploads/magazine/blog-bg-14.jpg
        alt_text: Placeholder for alt 
        overlay_text: Currently in.....
    destinations:
        - location: Europe
          date: 00 Month - 00 Month 2023
        - location: Australia
          date: 00 Month - 00 Month 2023
        - location: Asia
          date: 00 Month - 00 Month 2023
        - location: Europe
          date: 00 Month - 00 Month 2023
blog:
    heading: Recently on the blog
    button: 
        text: Read more
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-------- Header ----------->

{% include hero-banner.html %}

<!-----------About blurp ------------->

<section class="grid sm:grid-cols-2 p-[5rem] bg-[#edeceb] editable">
  <div class="sm:w-[85%] pb-[50%] sm:min-h-70 bg-cover bg-center bg-[url('{{page.text_blurbs.image.image_path | default: page.featured_image}}')]"> </div>
  <div class="py-15p">
    <h2 class="font-serif text-[3rem] sm:w-[30rem] sm:-ml-[20vw] leading-[1.07] sm:text-center py-3 mb-8 sm:bg-[#d5d1cd]">
      {{ page.text_blurbs.heading }}
    </h2>
    <!-- need to put text in block -->
    <p class="text-sm leading-[1.8] pb-[1.5rem]"> 
      {{ page.text_blurbs.description }} 
    </p>
    <a class="underline uppercase font-serif text-xl tracking-wide" href="{{ page.text_blurbs.button.url }} ">
      {{ page.text_blurbs.button.text }}
    </a>
  </div>
</section>


<!------------ Travel Destination | itinerary | own code for reference ----------->

<!-- <section class="py-[3rem]">
  <h2 class="uppercase font-serif text-3xl text-center tracking-wide p-10">{{ page.itinerary.heading }}</h2>
  <div class="grid sm:grid-cols-2 gap-5"> 
    <ul class="pl-[5rem]">
      {% for item in page.itinerary.destinations %}
        <li>
          <div>{{ item.location }}</div>
          <div>{{ item.date }}</div>
        </li>
      {% endfor %}
    </ul>

    <div class="relative sm:w-[85%] pb-[50%] sm:min-h-70 bg-cover bg-center bg-[url('{{page.itinerary.image.image_path | default: page.featured_image}}')]">
      <div class="absolute font-serif text-[3rem] sm:bg-[#d5d1cd] inline-block p-1 px-4 bottom-8">{{ page.itinerary.image.overlay_text }}</div>
    </div>
  </div>
</section> -->


<!-- Tinas code for travel destinations -->

<section class="p-5p grid grid-cols-5 gap-5">

  <div class="col-span-full">
    <h2 class="text-4xl uppercase text-center mb-8 font-serif tracking-wider editable"> Upcoming Travel Destinations </h2>
  </div>

  <div class="col-span-3 pr-10 pt-[6rem] pl-[0.5rem] editable">

    <hr class="border border-zinc-800 border-b-0">

    {% for item in page.itinerary.destinations %}

    <div class="flex justify-between">
      <p class="my-6 tracking-wide uppercase"> {{item.location}} </p>
      <p class="my-6"> {{item.date}} </p>
    </div>
    
    <hr class="border border-zinc-800 border-b-0">

    {% endfor %}
  </div>
  
  <div class="col-span-2 sm:min-h-60 bg-cover bg-center py-8 flex items-end" 
      style="background-image: url('{{page.itinerary.image.image_path}}')">
      <h2 class="font-serif text-[3rem] sm:bg-[#d5d1cd] p-4 text-3xl editable"> Currently in... </h2>
  </div>
</section>






<!-- {{site.data.site-settings.global-cta-options}} -->
<!------------------------ Featured blog loop ------------------------>
<section class="p-5p bg-[#edeceb]">
  <h2 class="text-4xl uppercase text-center mb-8 font-serif tracking-wider">
    {{ page.blog.heading }}
  </h2>
  <div class="max-w-screen-xl mx-auto md:columns-3">


    {% assign featured_posts = site.posts | where: 'featured', true %}

    {% for post in featured_posts limit: 3 %}

      <a class="post-item p-2 break-inside-avoid block mb-4" href="{{ post.url }}">

        <!-- Background image -->
        <div class="inset-0 w-full h-full object-cover 
             {% cycle 'aspect-square', 'aspect-landscape' %}" style="background-image:url( '{{ post.featured_image }}' );"></div>

        <!-- Text container  -->
        <div class="p-4 relative -top-4 left-4 bg-white">
          <h2 class="mt-1 font-serif text-3xl">
            {{ post.title }}
          </h2>
          <p>{{ post.description }}</p>
          <span>{{ page.blog.button.text }}
          </span>
        </div>
      </a>

    {% endfor %}

  </div>

</section>

