---
layout: default
title: Members Area
banner:
    heading: Members Area.
    description: Welcome to our private members area.
    image: 
        image_path: /uploads/magazine/blog-bg-17.jpg
        alt_text: A man walking through the desert
members-content: 
 - title: This is a title
   content_html: some content 
 - title: This is a second title 
   content_html: some content 
 - title: This is a third title 
   content_html: some content
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-------- Header ----------->

<section class="min-h-50 flex items-center">
    <div class="absolute aspect-landscape h-full w-[100%] -z-10 bg-[url('{{page.banner.image.image_path | default: page.featured_image}}')]"></div>
    <div class=" p-5p">
        <h1 class="font-serif text-white text-[9vw] leading-tight mb-[3rem]">{{page.banner.heading | default: page.title }}</h1>
        <p class="font-sans-serif text-white tracking-widest">{{page.banner.description | default: page.description }}</p>
        
        {{% if page.banner.button.url and page.banner.button.text %}}
        <a href="{{page.banner.button.url}}" >{{page.banner.button.text}}</a>
        {{% endif %}}
    </div>
</section>




<section class="min-h-80 p-5p grid grid-cols-4">

    <div class="col-span-1">
            <h2 class="text-2xl font-serif mb-8 text-[2rem] uppercase"> Explore </h2>
            {% for item in page.members-content %}
            <a href="#{{item.title | slugify }}" class="block text-sm font-sans-serif leading-[1.8]"> {{item.title}}</a>
            {% endfor %}

    </div> 

    <div class="col-span-3">

        {% for item in page.members-content %}
        <div id="{{item.title | slugify}}" class="p-5p border-b-2"> 
            {{ item.content_html }}
        </div>

        {% endfor %}

    </div> 
    
</section>