---
layout: default 
title: Shop
banner:
    heading: Shop.
    description: Nature teaches you to appreciate the finer things in life, to be present, live <br> in the moment and just breathe.
    image: 
        image_path: /uploads/magazine/blog-bg-17.jpg
        alt_text: A man walking in the desert
text_blurbs:
    heading: Once you get a <br> taste for travel, you'll <br> never be the same.
    image: 
        image_path: /uploads/magazine/blog-bg-10.jpg
        alt_text: A woman sitting on a stone edge
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
<!-- Header image -->

{% include hero-banner-full.html %}



<section class="p-8 max-w-screen-xl mx-auto">

	<h2 class="font-serif text-3xl uppercase mb-7"> Explore all products </h2> 
	
	<div class="justify-items-center grid grid-cols-3 gap-7">
	
		{% for product in site.products-presets %}
		
		<a href="{{product.url}}"> 
			<img src="{{product.teaser-image}}">
			<h4> {{product.title}}</h4>
			<p> {{product.price}}</p>
        </a>
	
	{% endfor %}
	
	</div>
	
</section>