---
layout: default 
title: Shop All
banner:
    heading: Shop All Products.
    description: Nature teaches you to appreciate the finer things in life, to be present, live <br> in the moment and just breathe.
    image: 
        image_path: /uploads/magazine/blog-bg-17.jpg
        alt_text: A man walking in the desert
text_blurbs:
    heading: Once you get a <br> taste for travel, you'll <br> never be the same.
    image: 
        image_path: /uploads/magazine/blog-bg-10.jpg
        alt_text: A woman sitting on a stone edge
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="p-5p max-w-screen-xl mx-auto" x-data="{ filter: 'all' }">

	<h2 class="text-center text-4xl mb-4"> Shop all products </h2> 

	<div class="filter space-x-3 text-center"> 
		<a href="#" :class="{'active':filter === 'all'}" @click.prevent="filter = 'all'">All</a>
        <a href="#" :class="{'active':filter === 'travel-guide'}" @click.prevent="filter = 'travel-guide'">Travel Guides</a>
        <a href="#" :class="{'active':filter === 'preset'}" @click.prevent="filter = 'preset'">Presets </a>
	</div>

	<div class="grid grid-cols-3 gap-4">

	{% assign all_products = site.products-guides | concat: site.products-presets | sort: 'title'  %}

	{% for product in all_products %}
		
		<div class="{{product.type | slugify }}" x-show="filter === 'all' || filter === '{{ product.type | slugify }}'">
		{% include product-loop-item.html %}
		</div>
			
	{% endfor %}

	</div>

</section>