<section class="p-5p bg-cover flex items-center text-white min-h-80 bg-left-bottom" style="background-image: url('{{page.banner.image.image_path}}')">
    <div> 
       <h2 class="font-serif text-white text-[9vw] leading-tight mb-[3rem]"> {{page.banner.heading}} </h2> 
       <h3 class="font-sans-serif text-white uppercase tracking-widest max-w-screen-sm"> {{page.banner.description}}</h3> 
       {{% if page.banner.button.url and page.banner.button.text %}}
            <a href="{{page.banner.button.url}}" >{{page.banner.button.text}}</a>
            {{% endif %}}
    </div> 
  </section>