<footer class="p-5p bg-[#d5d1cd] text-black">
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3">
      <div class="p-4">
        <a href="#" class="font-serif text-4xl mb-4 block editable"> LOGO </a>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p>
      </div> 
      <nav class="p-4">
        <h2 class="p-1 font-normal font-serif text-[1.5rem] tracking-wide editable"> MORE FROM US </h2>
        <a href="/blog-archive-list" class="p-1 block uppercase text-sm tracking-wide editable"> Blog Archive List </a>
        <a href="/blog-archive" class="p-1 block uppercase text-sm tracking-wide editable"> Blog Archive </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Link Three </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Link Four </a>
      </nav> 
      <nav class="p-4">
        <h2 class="p-1 font-normal font-serif text-[1.5rem] tracking-wide editable"> CONNECT WITH US </h2>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Instagram</a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Facebook </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> LinkedIn </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> TikTok </a>
      </nav> 
    </div>
  </footer>
  
