<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body class="bg-[#d5d1cd]">

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}



    <!-- Memberspace -->
    <script> var MemberSpace = window.MemberSpace || {"subdomain":"aware"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>

    <!------------ Alpine  ------------>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <script src="//unpkg.com/alpinejs" defer></script>


    <!-- Javascript  -->
    <script src="/main.js"></script>


    



</body>

</html>